<h2>יצירת קורס חדש</h2>

<form [formGroup]="courseForm" (ngSubmit)="createCourse()">
  <mat-form-field appearance="outline">
    <mat-label>שם הקורס</mat-label>
    <input matInput formControlName="title" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>תיאור הקורס</mat-label>
    <textarea matInput formControlName="description" required></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="courseForm.invalid">
    צור קורס
  </button>
</form>